#choicely-widget-isolation .wdg-upcoming, #choicely-widget-modal-isolation .wdg-upcoming {
  max-width: 320px;
}

@media (min-width: 60em) {

  #choicely-widget-isolation .wdg-upcoming, #choicely-widget-modal-isolation .wdg-upcoming {
    max-width: 500px;
  }
}

#choicely-widget-isolation .wdg-upcoming-cards, #choicely-widget-modal-isolation .wdg-upcoming-cards {
  max-width: 150px;
}

@media (min-width: 60em) {

  #choicely-widget-isolation .wdg-upcoming-cards, #choicely-widget-modal-isolation .wdg-upcoming-cards {
    max-width: 250px;
  }
}

#choicely-widget-isolation .wdg-upcoming-cards--less, #choicely-widget-modal-isolation .wdg-upcoming-cards--less {
  max-width: 250px;
}

@media (min-width: 60em) {

  #choicely-widget-isolation .wdg-upcoming-cards--less, #choicely-widget-modal-isolation .wdg-upcoming-cards--less {
    max-width: 450px;
  }
}

#choicely-widget-isolation .wdg-upcoming-card-left, #choicely-widget-modal-isolation .wdg-upcoming-card-left,
#choicely-widget-isolation .wdg-upcoming-card-right, #choicely-widget-modal-isolation .wdg-upcoming-card-right {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

#choicely-widget-isolation .wdg-upcoming-card-left, #choicely-widget-modal-isolation .wdg-upcoming-card-left {
  -webkit-animation-name: card-animation-left;
          animation-name: card-animation-left;
}

#choicely-widget-isolation .wdg-upcoming-card-right, #choicely-widget-modal-isolation .wdg-upcoming-card-right {
  -webkit-animation-name: card-animation-right;
          animation-name: card-animation-right;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes card-animation-left {
  0% {
    -webkit-transform: translate(0%, -50%) rotate(0deg);
            transform: translate(0%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-22deg);
            transform: translate(-50%, -50%) rotate(-22deg);
  }
}

@keyframes card-animation-left {
  0% {
    -webkit-transform: translate(0%, -50%) rotate(0deg);
            transform: translate(0%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-22deg);
            transform: translate(-50%, -50%) rotate(-22deg);
  }
}

@-webkit-keyframes card-animation-right {
  0% {
    -webkit-transform: translate(0%, -50%) rotate(0deg);
            transform: translate(0%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(50%, -50%) rotate(22deg);
            transform: translate(50%, -50%) rotate(22deg);
  }
}

@keyframes card-animation-right {
  0% {
    -webkit-transform: translate(0%, -50%) rotate(0deg);
            transform: translate(0%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(50%, -50%) rotate(22deg);
            transform: translate(50%, -50%) rotate(22deg);
  }
}

@media (min-width: 500px) {

    #choicely-widget-isolation .wdg-unvote, #choicely-widget-modal-isolation .wdg-unvote {

        width: 30px !important;

        height: 30px !important;

        left: calc(100% + 6px) !important;
    }
}

#choicely-widget-isolation .wdg-unvote:hover, #choicely-widget-modal-isolation .wdg-unvote:hover,
  #choicely-widget-isolation .wdg-unvote:focus, #choicely-widget-modal-isolation .wdg-unvote:focus {

    outline: none;

    -webkit-box-shadow: 0 2px 4px 0 rgba(255, 80, 69, .5) !important;

            box-shadow: 0 2px 4px 0 rgba(255, 80, 69, .5) !important;
}

@media (min-width: 500px) {

    #choicely-widget-isolation .wdg-unvote--large, #choicely-widget-modal-isolation .wdg-unvote--large {

        width: 46px !important;

        height: 46px !important;

        left: 0 !important;
    }
}

#choicely-widget-isolation .wdg-vote, #choicely-widget-modal-isolation .wdg-vote {
  border-radius: 50% !important
}

#choicely-widget-isolation .wdg-vote:hover, #choicely-widget-modal-isolation .wdg-vote:hover,
  #choicely-widget-isolation .wdg-vote:focus, #choicely-widget-modal-isolation .wdg-vote:focus {
  outline: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(39, 192, 129, .5) !important;
          box-shadow: 0 2px 4px 0 rgba(39, 192, 129, .5) !important;
}

#choicely-widget-isolation .wdg-vote:active .vote-star, #choicely-widget-modal-isolation .wdg-vote:active .vote-star {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (min-width: 500px) {

  #choicely-widget-isolation .wdg-vote, #choicely-widget-modal-isolation .wdg-vote {
    width: 46px !important;
    height: 46px !important
  }
}

#choicely-widget-isolation .wdg-vote--silver:hover, #choicely-widget-modal-isolation .wdg-vote--silver:hover,
  #choicely-widget-isolation .wdg-vote--silver:focus, #choicely-widget-modal-isolation .wdg-vote--silver:focus {
  -webkit-box-shadow: 0 2px 4px 0 rgba(192, 192, 192, .5) !important;
          box-shadow: 0 2px 4px 0 rgba(192, 192, 192, .5) !important;
}

#choicely-widget-isolation .wdg-vote--gold:hover, #choicely-widget-modal-isolation .wdg-vote--gold:hover,
  #choicely-widget-isolation .wdg-vote--gold:focus, #choicely-widget-modal-isolation .wdg-vote--gold:focus {
  -webkit-box-shadow: 0 2px 4px 0 rgba(255, 199, 49, .5) !important;
          box-shadow: 0 2px 4px 0 rgba(255, 199, 49, .5) !important;
}

#choicely-widget-isolation .wdg-vote--animation .wdg-vote-star, #choicely-widget-modal-isolation .wdg-vote--animation .wdg-vote-star,
  #choicely-widget-isolation .wdg-vote--animation .wdg-vote__ring, #choicely-widget-modal-isolation .wdg-vote--animation .wdg-vote__ring,
  #choicely-widget-isolation .wdg-vote--animation .wdg-vote__circles, #choicely-widget-modal-isolation .wdg-vote--animation .wdg-vote__circles {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#choicely-widget-isolation .wdg-vote--animation .wdg-vote-star, #choicely-widget-modal-isolation .wdg-vote--animation .wdg-vote-star {
  -webkit-animation-name: star-animation;
          animation-name: star-animation;
}

#choicely-widget-isolation .wdg-vote--animation .wdg-vote__ring, #choicely-widget-modal-isolation .wdg-vote--animation .wdg-vote__ring {
  -webkit-animation-name: ring-animation;
          animation-name: ring-animation;
}

#choicely-widget-isolation .wdg-vote--animation .wdg-vote__circles, #choicely-widget-modal-isolation .wdg-vote--animation .wdg-vote__circles {
  -webkit-animation-name: circles-animation;
          animation-name: circles-animation;
}

#choicely-widget-isolation .wdg-vote-star__broken, #choicely-widget-modal-isolation .wdg-vote-star__broken {
  display: none;
}

#choicely-widget-isolation .wdg-selected .wdg-vote__ring, #choicely-widget-modal-isolation .wdg-selected .wdg-vote__ring,
  #choicely-widget-isolation .wdg-selected .wdg-vote__circles, #choicely-widget-modal-isolation .wdg-selected .wdg-vote__circles {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#choicely-widget-isolation .wdg-selected .wdg-vote__ring, #choicely-widget-modal-isolation .wdg-selected .wdg-vote__ring {
  -webkit-animation-name: ring-animation;
          animation-name: ring-animation;
}

#choicely-widget-isolation .wdg-selected .wdg-vote__circles, #choicely-widget-modal-isolation .wdg-selected .wdg-vote__circles {
  -webkit-animation-name: circles-animation;
          animation-name: circles-animation;
}

#choicely-widget-isolation .wdg-selected .wdg-vote-star__stroke, #choicely-widget-modal-isolation .wdg-selected .wdg-vote-star__stroke {
  display: none;
}

#choicely-widget-isolation .wdg-not-selected, #choicely-widget-modal-isolation .wdg-not-selected {
  color: #fd6b6e
}

#choicely-widget-isolation .wdg-not-selected .wdg-vote-star__broken-left, #choicely-widget-modal-isolation .wdg-not-selected .wdg-vote-star__broken-left,
  #choicely-widget-isolation .wdg-not-selected .wdg-vote-star__broken-right, #choicely-widget-modal-isolation .wdg-not-selected .wdg-vote-star__broken-right,
  #choicely-widget-isolation .wdg-not-selected .wdg-vote-star__filled, #choicely-widget-modal-isolation .wdg-not-selected .wdg-vote-star__filled {
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#choicely-widget-isolation .wdg-not-selected .wdg-vote-star__broken-left, #choicely-widget-modal-isolation .wdg-not-selected .wdg-vote-star__broken-left {
  -webkit-animation-name: star-broken-left;
          animation-name: star-broken-left;
}

#choicely-widget-isolation .wdg-not-selected .wdg-vote-star__broken-right, #choicely-widget-modal-isolation .wdg-not-selected .wdg-vote-star__broken-right {
  -webkit-animation-name: star-broken-right;
          animation-name: star-broken-right;
}

#choicely-widget-isolation .wdg-not-selected .wdg-vote-star__filled, #choicely-widget-modal-isolation .wdg-not-selected .wdg-vote-star__filled {
  -webkit-animation-name: star-filled;
          animation-name: star-filled;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#choicely-widget-isolation .wdg-not-selected .wdg-vote__ring, #choicely-widget-modal-isolation .wdg-not-selected .wdg-vote__ring {
  -webkit-animation-name: ring-animation;
          animation-name: ring-animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#choicely-widget-isolation .wdg-not-selected .wdg-vote-star__broken, #choicely-widget-modal-isolation .wdg-not-selected .wdg-vote-star__broken {
  display: block;
}

#choicely-widget-isolation .wdg-not-selected .wdg-vote-star__stroke, #choicely-widget-modal-isolation .wdg-not-selected .wdg-vote-star__stroke {
  display: none;
}

@-webkit-keyframes star-filled {
  0% {
    fill: currentColor;
  }

  100% {
    fill: transparent;
    opacity: 0;
  }
}

@keyframes star-filled {
  0% {
    fill: currentColor;
  }

  100% {
    fill: transparent;
    opacity: 0;
  }
}

@-webkit-keyframes star-broken-left {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }

  100% {
    -webkit-transform: rotate(-12deg) translate(-5px, 3px);
            transform: rotate(-12deg) translate(-5px, 3px);
  }
}

@keyframes star-broken-left {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }

  100% {
    -webkit-transform: rotate(-12deg) translate(-5px, 3px);
            transform: rotate(-12deg) translate(-5px, 3px);
  }
}

@-webkit-keyframes star-broken-right {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }

  100% {
    -webkit-transform: rotate(10deg) translate(4.6px, -3px);
            transform: rotate(10deg) translate(4.6px, -3px);
  }
}

@keyframes star-broken-right {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }

  100% {
    -webkit-transform: rotate(10deg) translate(4.6px, -3px);
            transform: rotate(10deg) translate(4.6px, -3px);
  }
}

@-webkit-keyframes star-animation {
  0%,
  18% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  45% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }

  65% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  81% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes star-animation {
  0%,
  18% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  45% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }

  65% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  81% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes ring-animation {
  0% {
    height: 0;
    width: 0;
    border-width: 0;
  }

  4% {
    height: 0;
    width: 0;
    border-width: 3px;
    border-color: currentColor;
  }

  7% {
    height: 0;
    width: 0;
    border-width: 18px;
  }

  11% {
    height: 0;
    width: 0;
    border-width: 20px;
  }

  15% {
    height: 0;
    width: 0;
    border-width: 22px;
  }

  19% {
    width: calc(70% + 8px);
    height: calc(70% + 8px);
    border-width: 6px;
  }

  22% {
    width: calc(70% + 16px);
    height: calc(70% + 16px);
    border-width: 1px;
  }

  26%,
  100% {
    width: calc(70% + 18px);
    height: calc(70% + 18px);
    border-width: 0;
  }
}

@keyframes ring-animation {
  0% {
    height: 0;
    width: 0;
    border-width: 0;
  }

  4% {
    height: 0;
    width: 0;
    border-width: 3px;
    border-color: currentColor;
  }

  7% {
    height: 0;
    width: 0;
    border-width: 18px;
  }

  11% {
    height: 0;
    width: 0;
    border-width: 20px;
  }

  15% {
    height: 0;
    width: 0;
    border-width: 22px;
  }

  19% {
    width: calc(70% + 8px);
    height: calc(70% + 8px);
    border-width: 6px;
  }

  22% {
    width: calc(70% + 16px);
    height: calc(70% + 16px);
    border-width: 1px;
  }

  26%,
  100% {
    width: calc(70% + 18px);
    height: calc(70% + 18px);
    border-width: 0;
  }
}

@-webkit-keyframes circles-animation {
  0%,
  18% {
    -webkit-box-shadow: -14px -14px 0 -2px currentColor, -15px -13px 0 -2px currentColor,
      2px -19px 0 -2px currentColor, 1px -19px 0 -2px currentColor,
      17px -10px 0 -2px currentColor, 16px -12px 0 -2px currentColor,
      18px 6px 0 -2px currentColor, 19px 5px 0 -2px currentColor,
      6px 18px 0 -2px currentColor, 8px 18px 0 -2px currentColor,
      -10px 17px 0 -2px currentColor, -9px 17px 0 -2px currentColor,
      -19px 2px 0 -2px currentColor, -19px 4px 0 -2px currentColor;
            box-shadow: -14px -14px 0 -2px currentColor, -15px -13px 0 -2px currentColor,
      2px -19px 0 -2px currentColor, 1px -19px 0 -2px currentColor,
      17px -10px 0 -2px currentColor, 16px -12px 0 -2px currentColor,
      18px 6px 0 -2px currentColor, 19px 5px 0 -2px currentColor,
      6px 18px 0 -2px currentColor, 8px 18px 0 -2px currentColor,
      -10px 17px 0 -2px currentColor, -9px 17px 0 -2px currentColor,
      -19px 2px 0 -2px currentColor, -19px 4px 0 -2px currentColor;
  }

  22% {
    -webkit-box-shadow: -15px -15px 0 -1px currentColor, -17px -14px 0 -1px currentColor,
      2px -21px 0 -1px currentColor, 1px -22px 0 -1px currentColor,
      18px -11px 0 -1px currentColor, 18px -13px 0 -1px currentColor,
      20px 7px 0 -1px currentColor, 21px 5px 0 -1px currentColor,
      7px 20px 0 -1px currentColor, 9px 20px 0 -1px currentColor,
      -11px 18px 0 -1px currentColor, -10px 20px 0 -1px currentColor,
      -21px 2px 0 -1px currentColor, -22px 4px 0 -1px currentColor;
            box-shadow: -15px -15px 0 -1px currentColor, -17px -14px 0 -1px currentColor,
      2px -21px 0 -1px currentColor, 1px -22px 0 -1px currentColor,
      18px -11px 0 -1px currentColor, 18px -13px 0 -1px currentColor,
      20px 7px 0 -1px currentColor, 21px 5px 0 -1px currentColor,
      7px 20px 0 -1px currentColor, 9px 20px 0 -1px currentColor,
      -11px 18px 0 -1px currentColor, -10px 20px 0 -1px currentColor,
      -21px 2px 0 -1px currentColor, -22px 4px 0 -1px currentColor;
  }

  52% {
    -webkit-box-shadow: -22px -22px 0 -1px currentColor, -21px -14px 0 -2px currentColor,
      3px -31px 0 -1px currentColor, -3px -26px 0 -2px currentColor,
      26px -17px 0 -1px currentColor, 19px -18px 0 -2px currentColor,
      29px 10px 0 -1px currentColor, 26px 3px 0 -2px currentColor,
      10px 29px 0 -1px currentColor, 14px 22px 0 -2px currentColor,
      -17px 26px 0 -1px currentColor, -9px 24px 0 -2px currentColor,
      -31px 3px 0 -1px currentColor, -25px 8px 0 -2px currentColor;
            box-shadow: -22px -22px 0 -1px currentColor, -21px -14px 0 -2px currentColor,
      3px -31px 0 -1px currentColor, -3px -26px 0 -2px currentColor,
      26px -17px 0 -1px currentColor, 19px -18px 0 -2px currentColor,
      29px 10px 0 -1px currentColor, 26px 3px 0 -2px currentColor,
      10px 29px 0 -1px currentColor, 14px 22px 0 -2px currentColor,
      -17px 26px 0 -1px currentColor, -9px 24px 0 -2px currentColor,
      -31px 3px 0 -1px currentColor, -25px 8px 0 -2px currentColor;
  }

  82%,
  100% {
    -webkit-box-shadow: -22px -22px 0 -2px currentColor, -22px -14px 0 -2px currentColor,
      3px -31px 0 -2px currentColor, -3px -3px 0 -2px currentColor,
      26px -17px 0 -2px currentColor, 19px -18px 0 -2px currentColor,
      29px 10px 0 -2px currentColor, 26px 3px 0 -2px currentColor,
      10px 29px 0 -2px currentColor, 14px 22px 0 -2px currentColor,
      -17px 26px 0 -2px currentColor, -9px 24px 0 -2px currentColor,
      -31px 3px 0 -2px currentColor, -25px 8px 0 -2px currentColor;
            box-shadow: -22px -22px 0 -2px currentColor, -22px -14px 0 -2px currentColor,
      3px -31px 0 -2px currentColor, -3px -3px 0 -2px currentColor,
      26px -17px 0 -2px currentColor, 19px -18px 0 -2px currentColor,
      29px 10px 0 -2px currentColor, 26px 3px 0 -2px currentColor,
      10px 29px 0 -2px currentColor, 14px 22px 0 -2px currentColor,
      -17px 26px 0 -2px currentColor, -9px 24px 0 -2px currentColor,
      -31px 3px 0 -2px currentColor, -25px 8px 0 -2px currentColor;
  }
}

@keyframes circles-animation {
  0%,
  18% {
    -webkit-box-shadow: -14px -14px 0 -2px currentColor, -15px -13px 0 -2px currentColor,
      2px -19px 0 -2px currentColor, 1px -19px 0 -2px currentColor,
      17px -10px 0 -2px currentColor, 16px -12px 0 -2px currentColor,
      18px 6px 0 -2px currentColor, 19px 5px 0 -2px currentColor,
      6px 18px 0 -2px currentColor, 8px 18px 0 -2px currentColor,
      -10px 17px 0 -2px currentColor, -9px 17px 0 -2px currentColor,
      -19px 2px 0 -2px currentColor, -19px 4px 0 -2px currentColor;
            box-shadow: -14px -14px 0 -2px currentColor, -15px -13px 0 -2px currentColor,
      2px -19px 0 -2px currentColor, 1px -19px 0 -2px currentColor,
      17px -10px 0 -2px currentColor, 16px -12px 0 -2px currentColor,
      18px 6px 0 -2px currentColor, 19px 5px 0 -2px currentColor,
      6px 18px 0 -2px currentColor, 8px 18px 0 -2px currentColor,
      -10px 17px 0 -2px currentColor, -9px 17px 0 -2px currentColor,
      -19px 2px 0 -2px currentColor, -19px 4px 0 -2px currentColor;
  }

  22% {
    -webkit-box-shadow: -15px -15px 0 -1px currentColor, -17px -14px 0 -1px currentColor,
      2px -21px 0 -1px currentColor, 1px -22px 0 -1px currentColor,
      18px -11px 0 -1px currentColor, 18px -13px 0 -1px currentColor,
      20px 7px 0 -1px currentColor, 21px 5px 0 -1px currentColor,
      7px 20px 0 -1px currentColor, 9px 20px 0 -1px currentColor,
      -11px 18px 0 -1px currentColor, -10px 20px 0 -1px currentColor,
      -21px 2px 0 -1px currentColor, -22px 4px 0 -1px currentColor;
            box-shadow: -15px -15px 0 -1px currentColor, -17px -14px 0 -1px currentColor,
      2px -21px 0 -1px currentColor, 1px -22px 0 -1px currentColor,
      18px -11px 0 -1px currentColor, 18px -13px 0 -1px currentColor,
      20px 7px 0 -1px currentColor, 21px 5px 0 -1px currentColor,
      7px 20px 0 -1px currentColor, 9px 20px 0 -1px currentColor,
      -11px 18px 0 -1px currentColor, -10px 20px 0 -1px currentColor,
      -21px 2px 0 -1px currentColor, -22px 4px 0 -1px currentColor;
  }

  52% {
    -webkit-box-shadow: -22px -22px 0 -1px currentColor, -21px -14px 0 -2px currentColor,
      3px -31px 0 -1px currentColor, -3px -26px 0 -2px currentColor,
      26px -17px 0 -1px currentColor, 19px -18px 0 -2px currentColor,
      29px 10px 0 -1px currentColor, 26px 3px 0 -2px currentColor,
      10px 29px 0 -1px currentColor, 14px 22px 0 -2px currentColor,
      -17px 26px 0 -1px currentColor, -9px 24px 0 -2px currentColor,
      -31px 3px 0 -1px currentColor, -25px 8px 0 -2px currentColor;
            box-shadow: -22px -22px 0 -1px currentColor, -21px -14px 0 -2px currentColor,
      3px -31px 0 -1px currentColor, -3px -26px 0 -2px currentColor,
      26px -17px 0 -1px currentColor, 19px -18px 0 -2px currentColor,
      29px 10px 0 -1px currentColor, 26px 3px 0 -2px currentColor,
      10px 29px 0 -1px currentColor, 14px 22px 0 -2px currentColor,
      -17px 26px 0 -1px currentColor, -9px 24px 0 -2px currentColor,
      -31px 3px 0 -1px currentColor, -25px 8px 0 -2px currentColor;
  }

  82%,
  100% {
    -webkit-box-shadow: -22px -22px 0 -2px currentColor, -22px -14px 0 -2px currentColor,
      3px -31px 0 -2px currentColor, -3px -3px 0 -2px currentColor,
      26px -17px 0 -2px currentColor, 19px -18px 0 -2px currentColor,
      29px 10px 0 -2px currentColor, 26px 3px 0 -2px currentColor,
      10px 29px 0 -2px currentColor, 14px 22px 0 -2px currentColor,
      -17px 26px 0 -2px currentColor, -9px 24px 0 -2px currentColor,
      -31px 3px 0 -2px currentColor, -25px 8px 0 -2px currentColor;
            box-shadow: -22px -22px 0 -2px currentColor, -22px -14px 0 -2px currentColor,
      3px -31px 0 -2px currentColor, -3px -3px 0 -2px currentColor,
      26px -17px 0 -2px currentColor, 19px -18px 0 -2px currentColor,
      29px 10px 0 -2px currentColor, 26px 3px 0 -2px currentColor,
      10px 29px 0 -2px currentColor, 14px 22px 0 -2px currentColor,
      -17px 26px 0 -2px currentColor, -9px 24px 0 -2px currentColor,
      -31px 3px 0 -2px currentColor, -25px 8px 0 -2px currentColor;
  }
}

@media (min-width: 331px) {
    #choicely-widget-isolation .wdg-grid-item, #choicely-widget-modal-isolation .wdg-grid-item {
        padding-left: 3px;
        padding-right: 3px
    }
}

@media (min-width: 936px) {

    #choicely-widget-isolation .wdg-sidebar-block, #choicely-widget-modal-isolation .wdg-sidebar-block {

        margin-bottom: 12px;
    }
}

#choicely-widget-isolation .wdg-sidebar-block--simple svg, #choicely-widget-modal-isolation .wdg-sidebar-block--simple svg {

    max-width: 240px !important;
}

@media (min-width: 500px) {

    #choicely-widget-isolation .wdg-sidebar-block--simple svg, #choicely-widget-modal-isolation .wdg-sidebar-block--simple svg {

        max-width: none !important;
    }
}

#choicely-widget-isolation .wdg-range-input:focus, #choicely-widget-modal-isolation .wdg-range-input:focus {
  outline: none;
}

#choicely-widget-isolation .wdg-range-input::-webkit-slider-runnable-track, #choicely-widget-modal-isolation .wdg-range-input::-webkit-slider-runnable-track {
  cursor: pointer;
  background: transparent;
}

#choicely-widget-isolation .wdg-range-input::-webkit-slider-thumb, #choicely-widget-modal-isolation .wdg-range-input::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, .3);
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
  -webkit-appearance: none;
}

#choicely-widget-isolation .wdg-range-input::-moz-range-track, #choicely-widget-modal-isolation .wdg-range-input::-moz-range-track {
  cursor: pointer;
  background: transparent;
}

#choicely-widget-isolation .wdg-range-input::-moz-range-thumb, #choicely-widget-modal-isolation .wdg-range-input::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, .3);
  cursor: pointer;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
}

#choicely-widget-isolation .wdg-range-input::-ms-track, #choicely-widget-modal-isolation .wdg-range-input::-ms-track {
  width: 100%;
  color: transparent;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 24px, 0;
}

#choicely-widget-isolation .wdg-range-input::-ms-fill-lower, #choicely-widget-modal-isolation .wdg-range-input::-ms-fill-lower {
  border: 0 solid #000;
  background: transparent;
  border-radius: 4px;
}

#choicely-widget-isolation .wdg-range-input::-ms-fill-upper, #choicely-widget-modal-isolation .wdg-range-input::-ms-fill-upper {
  border: 0 solid #000;
  background: transparent;
  border-radius: 4px;
}

#choicely-widget-isolation .wdg-range-input::-ms-thumb, #choicely-widget-modal-isolation .wdg-range-input::-ms-thumb {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, .3);
  cursor: pointer;
  display: block;
  background: #ffffff;
  border-radius: 50%;
}

#choicely-widget-isolation .wdg-range-input:focus::-ms-fill-lower, #choicely-widget-modal-isolation .wdg-range-input:focus::-ms-fill-lower {
  background: transparent;
}

#choicely-widget-isolation .wdg-range-input:focus::-ms-fill-upper, #choicely-widget-modal-isolation .wdg-range-input:focus::-ms-fill-upper {
  background: transparent;
}

#choicely-widget-isolation .wdg-range-input--sm::-webkit-slider-thumb, #choicely-widget-modal-isolation .wdg-range-input--sm::-webkit-slider-thumb {
  width: 18px;
  height: 18px;
}

#choicely-widget-isolation .wdg-range-input--sm::-moz-range-thumb, #choicely-widget-modal-isolation .wdg-range-input--sm::-moz-range-thumb {
  width: 18px;
  height: 18px;
}

#choicely-widget-isolation .wdg-range-input--sm::-ms-thumb, #choicely-widget-modal-isolation .wdg-range-input--sm::-ms-thumb {
  width: 18px;
  height: 18px;
}

#choicely-widget-isolation .wdg-range-input--sm::-ms-track, #choicely-widget-modal-isolation .wdg-range-input--sm::-ms-track {
  border-width: 18px, 0;
}

#choicely-widget-isolation .wdg-range-progress::-webkit-progress-bar, #choicely-widget-modal-isolation .wdg-range-progress::-webkit-progress-bar {
  background: transparent;
}

#choicely-widget-isolation .wdg-range-progress::-webkit-progress-value, #choicely-widget-modal-isolation .wdg-range-progress::-webkit-progress-value {
  min-width: 8px;
  background: currentColor;
  border-radius: 4px;
}

#choicely-widget-isolation .wdg-range-progress::-moz-progress-bar, #choicely-widget-modal-isolation .wdg-range-progress::-moz-progress-bar {
  min-width: 8px;
  background: currentColor;
  border-radius: 4px;
}

#choicely-widget-isolation .wdg-range-progress::-ms-fill, #choicely-widget-modal-isolation .wdg-range-progress::-ms-fill {
  border-radius: 4px;
}

@-moz-document url-prefix() {
  /* firefox fix */
  #choicely-widget-isolation .wdg-range-circle, #choicely-widget-modal-isolation .wdg-range-circle {
    height: 22px !important;
    margin-left: 1px !important;
  }
}

@supports (-ms-ime-align: auto) {
  /* edge fix */
  #choicely-widget-isolation .wdg-range-input, #choicely-widget-modal-isolation .wdg-range-input,
  #choicely-widget-isolation .wdg-range-circle, #choicely-widget-modal-isolation .wdg-range-circle {
    height: 26px !important;
  }

  #choicely-widget-isolation .wdg-range-circle, #choicely-widget-modal-isolation .wdg-range-circle {
    margin-left: -1px !important;
  }
}

#choicely-widget-isolation .wdg-stamp-animation, #choicely-widget-modal-isolation .wdg-stamp-animation {
  -webkit-animation: stampReveal 150ms linear;
          animation: stampReveal 150ms linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1
}

#choicely-widget-isolation .wdg-stamp-animation::after, #choicely-widget-modal-isolation .wdg-stamp-animation::after {
  top: 18px;
  left: 0;
  right: 0;
  bottom: 23px;
  border: 5px solid currentColor;
  content: '';
  display: block;
  opacity: 0;
  position: absolute;
  -webkit-animation: stampRevealFinish 500ms ease-in-out;
          animation: stampRevealFinish 500ms ease-in-out;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

@-webkit-keyframes stampReveal {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes stampReveal {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes stampRevealFinish {
  0% {
    opacity: 0.2;
    -webkit-transform: rotate(-20deg) scale(1);
            transform: rotate(-20deg) scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(-20deg) scale(3);
            transform: rotate(-20deg) scale(3);
  }
}

@keyframes stampRevealFinish {
  0% {
    opacity: 0.2;
    -webkit-transform: rotate(-20deg) scale(1);
            transform: rotate(-20deg) scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(-20deg) scale(3);
            transform: rotate(-20deg) scale(3);
  }
}

#choicely-widget-isolation .wdg-swipe-btn:hover, #choicely-widget-modal-isolation .wdg-swipe-btn:hover,
  #choicely-widget-isolation .wdg-swipe-btn:focus, #choicely-widget-modal-isolation .wdg-swipe-btn:focus {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
#choicely-widget-isolation .wdg-swipe-btn:active, #choicely-widget-modal-isolation .wdg-swipe-btn:active {
    -webkit-transform: scale(1);
            transform: scale(1);
}

#choicely-widget-isolation .wdg-swipe-info-btn:hover, #choicely-widget-modal-isolation .wdg-swipe-info-btn:hover,
  #choicely-widget-isolation .wdg-swipe-info-btn:focus, #choicely-widget-modal-isolation .wdg-swipe-info-btn:focus {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
#choicely-widget-isolation .wdg-swipe-info-btn:active, #choicely-widget-modal-isolation .wdg-swipe-info-btn:active {
    -webkit-transform: scale(1);
            transform: scale(1);
}

#choicely-widget-isolation .animate-transform, #choicely-widget-modal-isolation .animate-transform {
  -webkit-transition: -webkit-transform 0.3s ease-in-out !important;
  transition: -webkit-transform 0.3s ease-in-out !important;
  transition: transform 0.3s ease-in-out !important;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out !important;
}

#choicely-widget-isolation .prev-card--moving-end, #choicely-widget-modal-isolation .prev-card--moving-end {
  visibility: visible !important;
  -webkit-transition: -webkit-transform 0.6s ease-in-out !important;
  transition: -webkit-transform 0.6s ease-in-out !important;
  transition: transform 0.6s ease-in-out !important;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out !important;
}

#choicely-widget-isolation .wdg-hide-scroll-bar::-webkit-scrollbar, #choicely-widget-modal-isolation .wdg-hide-scroll-bar::-webkit-scrollbar {
    width: 0;
}

#choicely-widget-isolation .wdg-btn:hover, #choicely-widget-modal-isolation .wdg-btn:hover,
  #choicely-widget-isolation .wdg-btn:focus, #choicely-widget-modal-isolation .wdg-btn:focus {

    z-index: 2;

    -webkit-box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, .2);

            box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, .2);
}

#choicely-widget-isolation .wdg-btn:active, #choicely-widget-modal-isolation .wdg-btn:active {

    -webkit-transform: translateY(0.125em);

            transform: translateY(0.125em);

    -webkit-box-shadow: none;

            box-shadow: none;
}

#choicely-widget-isolation .wdg-btn[disabled], #choicely-widget-modal-isolation .wdg-btn[disabled] {

    cursor: default;

    opacity: 0.5;

    -webkit-box-shadow: none;

            box-shadow: none;
}

#choicely-widget-isolation .wdg-btn svg, #choicely-widget-modal-isolation .wdg-btn svg {

    width: 1em !important;

    height: 1em !important;
}

#choicely-widget-isolation .wdg-btn.wdg-btn--icon-right svg, #choicely-widget-modal-isolation .wdg-btn.wdg-btn--icon-right svg {

    margin-left: 1em;
}

#choicely-widget-isolation .wdg-btn.wdg-btn--icon-left svg, #choicely-widget-modal-isolation .wdg-btn.wdg-btn--icon-left svg {

    margin-right: 1em;
}

#choicely-widget-isolation .wdg-btn--social svg, #choicely-widget-modal-isolation .wdg-btn--social svg {

    position: absolute;

    top: 50%;

    left: 12px;

    -webkit-transform: translateY(-50%);

            transform: translateY(-50%);
}

#choicely-widget-isolation .wdg-btn--sm.wdg-btn--social, #choicely-widget-modal-isolation .wdg-btn--sm.wdg-btn--social {

    padding-left: 42px !important;
}

#choicely-widget-isolation .wdg-btn--sm.wdg-btn--social svg, #choicely-widget-modal-isolation .wdg-btn--sm.wdg-btn--social svg {

    width: 18px !important;

    height: 18px !important;
}

#choicely-widget-isolation .wdg-btn--md.wdg-btn--social, #choicely-widget-modal-isolation .wdg-btn--md.wdg-btn--social {

    padding-left: 50px !important;
}

#choicely-widget-isolation .wdg-btn--md.wdg-btn--social svg, #choicely-widget-modal-isolation .wdg-btn--md.wdg-btn--social svg {

    width: 26px !important;

    height: 26px !important;
}

#choicely-widget-isolation .wdg-btn--lg.wdg-btn--social, #choicely-widget-modal-isolation .wdg-btn--lg.wdg-btn--social {

    padding-left: 62px !important;
}

#choicely-widget-isolation .wdg-btn--lg.wdg-btn--social svg, #choicely-widget-modal-isolation .wdg-btn--lg.wdg-btn--social svg {

    width: 34px !important;

    height: 34px !important;
}


/*# sourceMappingURL=AppContestContainer-11c2040e254c762c0deb.css.map*/