#choicely-widget-isolation .wdg-app-nav-btn:hover, #choicely-widget-modal-isolation .wdg-app-nav-btn:hover {
    opacity: 0.8;
}
#choicely-widget-isolation .wdg-app-nav-btn:focus, #choicely-widget-modal-isolation .wdg-app-nav-btn:focus {
    outline: 0;
}

#choicely-widget-isolation .wdg-app-side-nav-item, #choicely-widget-modal-isolation .wdg-app-side-nav-item {
  background-color: transparent;
  border-width: 0;
  width: 100%;
  text-align: left;
  display: block;
  font-size: 14px;
  padding: 12px;
}

#choicely-widget-isolation .wdg-app-side-nav-item__inner, #choicely-widget-modal-isolation .wdg-app-side-nav-item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#choicely-widget-isolation .wdg-app-side-nav-item__img, #choicely-widget-modal-isolation .wdg-app-side-nav-item__img {
  margin-right: 6px;
}
#choicely-widget-isolation .wdg-app-side-nav-menu, #choicely-widget-modal-isolation .wdg-app-side-nav-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999;
  width: 260px;
  overflow: auto;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#choicely-widget-isolation .wdg-app-side-nav-menu--open, #choicely-widget-modal-isolation .wdg-app-side-nav-menu--open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#choicely-widget-isolation .wdg-app-side-nav-darkness, #choicely-widget-modal-isolation .wdg-app-side-nav-darkness {
  background-color: rgba(0, 0, 0, .4);
  z-index: 99998;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#choicely-widget-isolation .wdg-app-side-nav-open, #choicely-widget-modal-isolation .wdg-app-side-nav-open {
  padding: 6px;
  border-width: 0;
  cursor: pointer;
  background-color: transparent;
}

/*# sourceMappingURL=AppWebAppContainer-11c2040e254c762c0deb.css.map*/