#choicely-widget-isolation .wdg-header-sm, #choicely-widget-modal-isolation .wdg-header-sm {
  display: block !important
}

#choicely-widget-isolation .wdg-header-sm .wdg-header__owner, #choicely-widget-modal-isolation .wdg-header-sm .wdg-header__owner,
  #choicely-widget-isolation .wdg-header-sm .wdg-header__about, #choicely-widget-modal-isolation .wdg-header-sm .wdg-header__about,
  #choicely-widget-isolation .wdg-header-sm .wdg-header__status, #choicely-widget-modal-isolation .wdg-header-sm .wdg-header__status {
  padding: 24px 12px !important;
}

#choicely-widget-isolation .wdg-header-sm .wdg-header__owner, #choicely-widget-modal-isolation .wdg-header-sm .wdg-header__owner {
  width: auto !important;
}

#choicely-widget-isolation .wdg-header-sm .wdg-header__about, #choicely-widget-modal-isolation .wdg-header-sm .wdg-header__about {
  width: auto !important;
  text-align: center !important
}

#choicely-widget-isolation .wdg-header-sm .wdg-header__about::before, #choicely-widget-modal-isolation .wdg-header-sm .wdg-header__about::before,
    #choicely-widget-isolation .wdg-header-sm .wdg-header__about::after, #choicely-widget-modal-isolation .wdg-header-sm .wdg-header__about::after {
  left: 0;
  right: 0;
  top: auto;
  bottom: auto;
  width: auto;
  height: 1px;
}

#choicely-widget-isolation .wdg-header-sm .wdg-header__about::before, #choicely-widget-modal-isolation .wdg-header-sm .wdg-header__about::before {
  top: 0;
}

#choicely-widget-isolation .wdg-header-sm .wdg-header__about::after, #choicely-widget-modal-isolation .wdg-header-sm .wdg-header__about::after {
  bottom: 0;
}

#choicely-widget-isolation .wdg-header-sm .wdg-header__status, #choicely-widget-modal-isolation .wdg-header-sm .wdg-header__status {
  width: auto !important;
}

#choicely-widget-isolation .wdg-header-sm .wdg-header__share, #choicely-widget-modal-isolation .wdg-header-sm .wdg-header__share {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

#choicely-widget-isolation .wdg-header__about::before, #choicely-widget-modal-isolation .wdg-header__about::before,
  #choicely-widget-isolation .wdg-header__about::after, #choicely-widget-modal-isolation .wdg-header__about::after {
  content: '';
  position: absolute;
  top: 24px;
  bottom: 24px;
  width: 1px;
  background-color: currentColor;
  opacity: 0.1;
}

#choicely-widget-isolation .wdg-header__about::before, #choicely-widget-modal-isolation .wdg-header__about::before {
  left: 0;
}

#choicely-widget-isolation .wdg-header__about::after, #choicely-widget-modal-isolation .wdg-header__about::after {
  right: 0;
}


/*# sourceMappingURL=ContestHeaderFullContainer-11c2040e254c762c0deb.css.map*/