#choicely-widget-isolation .wdg-one-vs-one-card::before, #choicely-widget-modal-isolation .wdg-one-vs-one-card::before,
  #choicely-widget-isolation .wdg-one-vs-one-card::after, #choicely-widget-modal-isolation .wdg-one-vs-one-card::after {
    content: '';
    position: absolute;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}
#choicely-widget-isolation .wdg-one-vs-one-card::before, #choicely-widget-modal-isolation .wdg-one-vs-one-card::before {
    top: 4px;
    left: 2px;
    right: 2px;
    bottom: -4px;
    z-index: 2;
    background-color: rgba(255, 255, 255, .7);
}
#choicely-widget-isolation .wdg-one-vs-one-card::after, #choicely-widget-modal-isolation .wdg-one-vs-one-card::after {
    top: 8px;
    left: 4px;
    right: 4px;
    bottom: -8px;
    z-index: 1;
    background-color: rgba(255, 255, 255, .3);
}

#choicely-widget-isolation .one-vs-one-result-animation, #choicely-widget-modal-isolation .one-vs-one-result-animation {
  opacity: 0;
  -webkit-animation-name: result-animation;
          animation-name: result-animation;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@-webkit-keyframes result-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes result-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/*# sourceMappingURL=ContestSection1vs1Container-11c2040e254c762c0deb.css.map*/