#choicely-widget-isolation .wdg-input:focus, #choicely-widget-modal-isolation .wdg-input:focus {

    border-color: #37d595 !important;

    -webkit-box-shadow: 0 0 0 1px #37d595 !important;

            box-shadow: 0 0 0 1px #37d595 !important;
}

#choicely-widget-isolation .wdg-input--error:focus, #choicely-widget-modal-isolation .wdg-input--error:focus {

    border-color: #ffbaba !important;

    -webkit-box-shadow: 0 0 0 1px #ffbaba !important;

            box-shadow: 0 0 0 1px #ffbaba !important;
}

#choicely-widget-isolation .wdg-btn:hover, #choicely-widget-modal-isolation .wdg-btn:hover,
  #choicely-widget-isolation .wdg-btn:focus, #choicely-widget-modal-isolation .wdg-btn:focus {

    z-index: 2;

    -webkit-box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, .2);

            box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, .2);
}

#choicely-widget-isolation .wdg-btn:active, #choicely-widget-modal-isolation .wdg-btn:active {

    -webkit-transform: translateY(0.125em);

            transform: translateY(0.125em);

    -webkit-box-shadow: none;

            box-shadow: none;
}

#choicely-widget-isolation .wdg-btn[disabled], #choicely-widget-modal-isolation .wdg-btn[disabled] {

    cursor: default;

    opacity: 0.5;

    -webkit-box-shadow: none;

            box-shadow: none;
}

#choicely-widget-isolation .wdg-btn svg, #choicely-widget-modal-isolation .wdg-btn svg {

    width: 1em !important;

    height: 1em !important;
}

#choicely-widget-isolation .wdg-btn.wdg-btn--icon-right svg, #choicely-widget-modal-isolation .wdg-btn.wdg-btn--icon-right svg {

    margin-left: 1em;
}

#choicely-widget-isolation .wdg-btn.wdg-btn--icon-left svg, #choicely-widget-modal-isolation .wdg-btn.wdg-btn--icon-left svg {

    margin-right: 1em;
}

#choicely-widget-isolation .wdg-btn--social svg, #choicely-widget-modal-isolation .wdg-btn--social svg {

    position: absolute;

    top: 50%;

    left: 12px;

    -webkit-transform: translateY(-50%);

            transform: translateY(-50%);
}

#choicely-widget-isolation .wdg-btn--sm.wdg-btn--social, #choicely-widget-modal-isolation .wdg-btn--sm.wdg-btn--social {

    padding-left: 42px !important;
}

#choicely-widget-isolation .wdg-btn--sm.wdg-btn--social svg, #choicely-widget-modal-isolation .wdg-btn--sm.wdg-btn--social svg {

    width: 18px !important;

    height: 18px !important;
}

#choicely-widget-isolation .wdg-btn--md.wdg-btn--social, #choicely-widget-modal-isolation .wdg-btn--md.wdg-btn--social {

    padding-left: 50px !important;
}

#choicely-widget-isolation .wdg-btn--md.wdg-btn--social svg, #choicely-widget-modal-isolation .wdg-btn--md.wdg-btn--social svg {

    width: 26px !important;

    height: 26px !important;
}

#choicely-widget-isolation .wdg-btn--lg.wdg-btn--social, #choicely-widget-modal-isolation .wdg-btn--lg.wdg-btn--social {

    padding-left: 62px !important;
}

#choicely-widget-isolation .wdg-btn--lg.wdg-btn--social svg, #choicely-widget-modal-isolation .wdg-btn--lg.wdg-btn--social svg {

    width: 34px !important;

    height: 34px !important;
}


/*# sourceMappingURL=ContestParticipantUploadModal-11c2040e254c762c0deb.css.map*/