#choicely-widget-isolation .wdg-tab:last-child, #choicely-widget-modal-isolation .wdg-tab:last-child {

    margin-left: 0 !important;
}

#choicely-widget-isolation .wdg-tab--payment-active .svg-dark-on-active, #choicely-widget-modal-isolation .wdg-tab--payment-active .svg-dark-on-active {

    fill: #373737;
}

#choicely-widget-isolation .wdg-get-votes::after, #choicely-widget-modal-isolation .wdg-get-votes::after {

    content: '';

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    -webkit-box-shadow: 0 0 0 1px currentColor, inset 0 0 0 2px currentColor;

            box-shadow: 0 0 0 1px currentColor, inset 0 0 0 2px currentColor;

    border-radius: inherit;

    opacity: 0;
}

#choicely-widget-isolation .wdg-get-votes:hover, #choicely-widget-modal-isolation .wdg-get-votes:hover,
  #choicely-widget-isolation .wdg-get-votes:focus, #choicely-widget-modal-isolation .wdg-get-votes:focus {

    background-color: #ffffff !important;

    z-index: 2;
}

#choicely-widget-isolation .wdg-get-votes:hover::after, #choicely-widget-modal-isolation .wdg-get-votes:hover::after, #choicely-widget-isolation .wdg-get-votes:focus::after, #choicely-widget-modal-isolation .wdg-get-votes:focus::after {

    opacity: 1;
}

#choicely-widget-isolation .wdg-get-votes:hover .wdg-get-votes-save, #choicely-widget-modal-isolation .wdg-get-votes:hover .wdg-get-votes-save, #choicely-widget-isolation .wdg-get-votes:focus .wdg-get-votes-save, #choicely-widget-modal-isolation .wdg-get-votes:focus .wdg-get-votes-save {

    opacity: 1 !important;

    visibility: visible !important;
}

#choicely-widget-isolation .wdg-get-votes:hover .wdg-get-votes-save__text, #choicely-widget-modal-isolation .wdg-get-votes:hover .wdg-get-votes-save__text, #choicely-widget-isolation .wdg-get-votes:focus .wdg-get-votes-save__text, #choicely-widget-modal-isolation .wdg-get-votes:focus .wdg-get-votes-save__text {

    -webkit-transform: scale(1) !important;

            transform: scale(1) !important;
}

#choicely-widget-isolation .wdg-get-votes--gold:hover, #choicely-widget-modal-isolation .wdg-get-votes--gold:hover,
  #choicely-widget-isolation .wdg-get-votes--gold:focus, #choicely-widget-modal-isolation .wdg-get-votes--gold:focus {

    color: #f9a943;
}

#choicely-widget-isolation .wdg-get-votes--silver:hover, #choicely-widget-modal-isolation .wdg-get-votes--silver:hover,
  #choicely-widget-isolation .wdg-get-votes--silver:focus, #choicely-widget-modal-isolation .wdg-get-votes--silver:focus {

    color: #c0c0c0;
}

#choicely-widget-isolation .wdg-get-votes--green:hover, #choicely-widget-modal-isolation .wdg-get-votes--green:hover,
  #choicely-widget-isolation .wdg-get-votes--green:focus, #choicely-widget-modal-isolation .wdg-get-votes--green:focus {

    color: #37d595;
}

#choicely-widget-isolation .wdg-get-votes--fb:hover, #choicely-widget-modal-isolation .wdg-get-votes--fb:hover,
  #choicely-widget-isolation .wdg-get-votes--fb:focus, #choicely-widget-modal-isolation .wdg-get-votes--fb:focus {

    color: #3b5998;
}

#choicely-widget-isolation .wdg-get-votes--tw:hover, #choicely-widget-modal-isolation .wdg-get-votes--tw:hover,
  #choicely-widget-isolation .wdg-get-votes--tw:focus, #choicely-widget-modal-isolation .wdg-get-votes--tw:focus {

    color: #43bfe1;
}

#choicely-widget-isolation .wdg-get-votes--mes:hover, #choicely-widget-modal-isolation .wdg-get-votes--mes:hover,
  #choicely-widget-isolation .wdg-get-votes--mes:focus, #choicely-widget-modal-isolation .wdg-get-votes--mes:focus {

    color: #1e88e5;
}

#choicely-widget-isolation .wdg-get-votes--wts:hover, #choicely-widget-modal-isolation .wdg-get-votes--wts:hover,
  #choicely-widget-isolation .wdg-get-votes--wts:focus, #choicely-widget-modal-isolation .wdg-get-votes--wts:focus {

    color: #1bd741;
}


/*# sourceMappingURL=ContestModalGetMoreVotesContainer-11c2040e254c762c0deb.css.map*/