#choicely-widget-isolation .choicely-widget-tab, #choicely-widget-modal-isolation .choicely-widget-tab {
  width: 65px;
  cursor: pointer;
  padding: 3px 0 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 8px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column
}

#choicely-widget-isolation .choicely-widget-tab > svg, #choicely-widget-modal-isolation .choicely-widget-tab > svg {
  cursor: pointer;
  margin-bottom: 2px;
}

#choicely-widget-isolation .choicely-widget-tab__text, #choicely-widget-modal-isolation .choicely-widget-tab__text {
  color: currentColor;
  cursor: pointer;
  font-size: 8px;
  margin-top: auto;
  line-height: 1.2;
  text-transform: uppercase;
}


/*# sourceMappingURL=ContestHeaderContainer-11c2040e254c762c0deb.css.map*/