#choicely-widget-isolation .wdg-input-email, #choicely-widget-modal-isolation .wdg-input-email {
  padding: 10px 14px 10px 42px !important
}

#choicely-widget-isolation .wdg-input-email::-webkit-input-placeholder, #choicely-widget-modal-isolation .wdg-input-email::-webkit-input-placeholder {
  color: #000 !important;
  opacity: 0.6 !important;
}

#choicely-widget-isolation .wdg-input-email::-moz-placeholder, #choicely-widget-modal-isolation .wdg-input-email::-moz-placeholder {
  color: #000 !important;
  opacity: 0.6 !important;
}

#choicely-widget-isolation .wdg-input-email::-ms-input-placeholder, #choicely-widget-modal-isolation .wdg-input-email::-ms-input-placeholder {
  color: #000 !important;
  opacity: 0.6 !important;
}

#choicely-widget-isolation .wdg-input-email::placeholder, #choicely-widget-modal-isolation .wdg-input-email::placeholder {
  color: #000 !important;
  opacity: 0.6 !important;
}

#choicely-widget-isolation .wdg-input-email--focus:focus, #choicely-widget-modal-isolation .wdg-input-email--focus:focus {
  outline: none;
  -webkit-box-shadow: rgba(50, 50, 93, .1) 0 4px 6px, rgba(0, 0, 0, .08) 0 1px 3px,
      0 0 0 2px #37d595 !important;
          box-shadow: rgba(50, 50, 93, .1) 0 4px 6px, rgba(0, 0, 0, .08) 0 1px 3px,
      0 0 0 2px #37d595 !important;
}

#choicely-widget-isolation .StripeElement, #choicely-widget-modal-isolation .StripeElement {
  margin-top: 6px;
  margin-bottom: 24px;
  padding: 10px 14px;
  -webkit-box-shadow: rgba(50, 50, 93, .15) 0 1px 3px, rgba(0, 0, 0, .02) 0 1px 0;
          box-shadow: rgba(50, 50, 93, .15) 0 1px 3px, rgba(0, 0, 0, .02) 0 1px 0;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

#choicely-widget-isolation .StripeElement--focus, #choicely-widget-modal-isolation .StripeElement--focus {
  -webkit-box-shadow: rgba(50, 50, 93, .1) 0 4px 6px, rgba(0, 0, 0, .08) 0 1px 3px,
    0 0 0 2px #37d595;
          box-shadow: rgba(50, 50, 93, .1) 0 4px 6px, rgba(0, 0, 0, .08) 0 1px 3px,
    0 0 0 2px #37d595;
}

#choicely-widget-isolation .StripeElement--invalid, #choicely-widget-modal-isolation .StripeElement--invalid {
  -webkit-box-shadow: rgba(50, 50, 93, .1) 0 4px 6px, rgba(0, 0, 0, .08) 0 1px 3px,
    0 0 0 2px #fd6b6e;
          box-shadow: rgba(50, 50, 93, .1) 0 4px 6px, rgba(0, 0, 0, .08) 0 1px 3px,
    0 0 0 2px #fd6b6e;
}


/*# sourceMappingURL=StripeModalBuyPackageContainer-11c2040e254c762c0deb.css.map*/