#choicely-widget-isolation .wdg-input:focus, #choicely-widget-modal-isolation .wdg-input:focus {

    border-color: #37d595 !important;

    -webkit-box-shadow: 0 0 0 1px #37d595 !important;

            box-shadow: 0 0 0 1px #37d595 !important;
}

#choicely-widget-isolation .wdg-input--error:focus, #choicely-widget-modal-isolation .wdg-input--error:focus {

    border-color: #ffbaba !important;

    -webkit-box-shadow: 0 0 0 1px #ffbaba !important;

            box-shadow: 0 0 0 1px #ffbaba !important;
}

#choicely-widget-isolation .wdg-textarea:focus, #choicely-widget-modal-isolation .wdg-textarea:focus {

    border-color: #37d595 !important;

    -webkit-box-shadow: 0 0 0 1px #37d595 !important;

            box-shadow: 0 0 0 1px #37d595 !important;
}

#choicely-widget-isolation .wdg-textarea--error:focus, #choicely-widget-modal-isolation .wdg-textarea--error:focus {

    border-color: #ffbaba !important;

    -webkit-box-shadow: 0 0 0 1px #ffbaba !important;

            box-shadow: 0 0 0 1px #ffbaba !important;
}

#choicely-widget-isolation .wdg-switch::after, #choicely-widget-modal-isolation .wdg-switch::after {

    content: '';

    position: absolute;

    top: 50%;

    left: 0;

    -webkit-transform: translateY(-50%);

            transform: translateY(-50%);

    width: 18px;

    height: 18px;

    background-color: white;

    border: 1px solid #f5f5f5;

    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .21);

            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .21);

    border-radius: 50%;
}

#choicely-widget-isolation .wdg-switch--checked::after, #choicely-widget-modal-isolation .wdg-switch--checked::after {

    left: auto;

    right: 0;
}

#choicely-widget-isolation .wdg-range-input:focus, #choicely-widget-modal-isolation .wdg-range-input:focus {
  outline: none;
}

#choicely-widget-isolation .wdg-range-input::-webkit-slider-runnable-track, #choicely-widget-modal-isolation .wdg-range-input::-webkit-slider-runnable-track {
  cursor: pointer;
  background: transparent;
}

#choicely-widget-isolation .wdg-range-input::-webkit-slider-thumb, #choicely-widget-modal-isolation .wdg-range-input::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, .3);
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
  -webkit-appearance: none;
}

#choicely-widget-isolation .wdg-range-input::-moz-range-track, #choicely-widget-modal-isolation .wdg-range-input::-moz-range-track {
  cursor: pointer;
  background: transparent;
}

#choicely-widget-isolation .wdg-range-input::-moz-range-thumb, #choicely-widget-modal-isolation .wdg-range-input::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, .3);
  cursor: pointer;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
}

#choicely-widget-isolation .wdg-range-input::-ms-track, #choicely-widget-modal-isolation .wdg-range-input::-ms-track {
  width: 100%;
  color: transparent;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 24px, 0;
}

#choicely-widget-isolation .wdg-range-input::-ms-fill-lower, #choicely-widget-modal-isolation .wdg-range-input::-ms-fill-lower {
  border: 0 solid #000;
  background: transparent;
  border-radius: 4px;
}

#choicely-widget-isolation .wdg-range-input::-ms-fill-upper, #choicely-widget-modal-isolation .wdg-range-input::-ms-fill-upper {
  border: 0 solid #000;
  background: transparent;
  border-radius: 4px;
}

#choicely-widget-isolation .wdg-range-input::-ms-thumb, #choicely-widget-modal-isolation .wdg-range-input::-ms-thumb {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, .3);
  cursor: pointer;
  display: block;
  background: #ffffff;
  border-radius: 50%;
}

#choicely-widget-isolation .wdg-range-input:focus::-ms-fill-lower, #choicely-widget-modal-isolation .wdg-range-input:focus::-ms-fill-lower {
  background: transparent;
}

#choicely-widget-isolation .wdg-range-input:focus::-ms-fill-upper, #choicely-widget-modal-isolation .wdg-range-input:focus::-ms-fill-upper {
  background: transparent;
}

#choicely-widget-isolation .wdg-range-input--sm::-webkit-slider-thumb, #choicely-widget-modal-isolation .wdg-range-input--sm::-webkit-slider-thumb {
  width: 18px;
  height: 18px;
}

#choicely-widget-isolation .wdg-range-input--sm::-moz-range-thumb, #choicely-widget-modal-isolation .wdg-range-input--sm::-moz-range-thumb {
  width: 18px;
  height: 18px;
}

#choicely-widget-isolation .wdg-range-input--sm::-ms-thumb, #choicely-widget-modal-isolation .wdg-range-input--sm::-ms-thumb {
  width: 18px;
  height: 18px;
}

#choicely-widget-isolation .wdg-range-input--sm::-ms-track, #choicely-widget-modal-isolation .wdg-range-input--sm::-ms-track {
  border-width: 18px, 0;
}

#choicely-widget-isolation .wdg-range-progress::-webkit-progress-bar, #choicely-widget-modal-isolation .wdg-range-progress::-webkit-progress-bar {
  background: transparent;
}

#choicely-widget-isolation .wdg-range-progress::-webkit-progress-value, #choicely-widget-modal-isolation .wdg-range-progress::-webkit-progress-value {
  min-width: 8px;
  background: currentColor;
  border-radius: 4px;
}

#choicely-widget-isolation .wdg-range-progress::-moz-progress-bar, #choicely-widget-modal-isolation .wdg-range-progress::-moz-progress-bar {
  min-width: 8px;
  background: currentColor;
  border-radius: 4px;
}

#choicely-widget-isolation .wdg-range-progress::-ms-fill, #choicely-widget-modal-isolation .wdg-range-progress::-ms-fill {
  border-radius: 4px;
}

@-moz-document url-prefix() {
  /* firefox fix */
  #choicely-widget-isolation .wdg-range-circle, #choicely-widget-modal-isolation .wdg-range-circle {
    height: 22px !important;
    margin-left: 1px !important;
  }
}

@supports (-ms-ime-align: auto) {
  /* edge fix */
  #choicely-widget-isolation .wdg-range-input, #choicely-widget-modal-isolation .wdg-range-input,
  #choicely-widget-isolation .wdg-range-circle, #choicely-widget-modal-isolation .wdg-range-circle {
    height: 26px !important;
  }

  #choicely-widget-isolation .wdg-range-circle, #choicely-widget-modal-isolation .wdg-range-circle {
    margin-left: -1px !important;
  }
}

#choicely-widget-isolation .wdg-survey a, #choicely-widget-modal-isolation .wdg-survey a {
    color: #37d595;
    text-decoration: none;
}
#choicely-widget-isolation .wdg-survey a:hover, #choicely-widget-modal-isolation .wdg-survey a:hover {
    text-decoration: underline;
}

#choicely-widget-isolation .wdg-btn:hover, #choicely-widget-modal-isolation .wdg-btn:hover,
  #choicely-widget-isolation .wdg-btn:focus, #choicely-widget-modal-isolation .wdg-btn:focus {

    z-index: 2;

    -webkit-box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, .2);

            box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, .2);
}

#choicely-widget-isolation .wdg-btn:active, #choicely-widget-modal-isolation .wdg-btn:active {

    -webkit-transform: translateY(0.125em);

            transform: translateY(0.125em);

    -webkit-box-shadow: none;

            box-shadow: none;
}

#choicely-widget-isolation .wdg-btn[disabled], #choicely-widget-modal-isolation .wdg-btn[disabled] {

    cursor: default;

    opacity: 0.5;

    -webkit-box-shadow: none;

            box-shadow: none;
}

#choicely-widget-isolation .wdg-btn svg, #choicely-widget-modal-isolation .wdg-btn svg {

    width: 1em !important;

    height: 1em !important;
}

#choicely-widget-isolation .wdg-btn.wdg-btn--icon-right svg, #choicely-widget-modal-isolation .wdg-btn.wdg-btn--icon-right svg {

    margin-left: 1em;
}

#choicely-widget-isolation .wdg-btn.wdg-btn--icon-left svg, #choicely-widget-modal-isolation .wdg-btn.wdg-btn--icon-left svg {

    margin-right: 1em;
}

#choicely-widget-isolation .wdg-btn--social svg, #choicely-widget-modal-isolation .wdg-btn--social svg {

    position: absolute;

    top: 50%;

    left: 12px;

    -webkit-transform: translateY(-50%);

            transform: translateY(-50%);
}

#choicely-widget-isolation .wdg-btn--sm.wdg-btn--social, #choicely-widget-modal-isolation .wdg-btn--sm.wdg-btn--social {

    padding-left: 42px !important;
}

#choicely-widget-isolation .wdg-btn--sm.wdg-btn--social svg, #choicely-widget-modal-isolation .wdg-btn--sm.wdg-btn--social svg {

    width: 18px !important;

    height: 18px !important;
}

#choicely-widget-isolation .wdg-btn--md.wdg-btn--social, #choicely-widget-modal-isolation .wdg-btn--md.wdg-btn--social {

    padding-left: 50px !important;
}

#choicely-widget-isolation .wdg-btn--md.wdg-btn--social svg, #choicely-widget-modal-isolation .wdg-btn--md.wdg-btn--social svg {

    width: 26px !important;

    height: 26px !important;
}

#choicely-widget-isolation .wdg-btn--lg.wdg-btn--social, #choicely-widget-modal-isolation .wdg-btn--lg.wdg-btn--social {

    padding-left: 62px !important;
}

#choicely-widget-isolation .wdg-btn--lg.wdg-btn--social svg, #choicely-widget-modal-isolation .wdg-btn--lg.wdg-btn--social svg {

    width: 34px !important;

    height: 34px !important;
}


/*# sourceMappingURL=SurveyContainer-11c2040e254c762c0deb.css.map*/