#choicely-widget-isolation .wdg-icon-spin, #choicely-widget-modal-isolation .wdg-icon-spin {
  -webkit-animation: iconspin 1s linear;
          animation: iconspin 1s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#choicely-widget-isolation .wdg-icon-beats, #choicely-widget-modal-isolation .wdg-icon-beats {
  -webkit-animation: heartBeats 1.5s ease;
          animation: heartBeats 1.5s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes iconspin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes iconspin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes heartBeats {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartBeats {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#choicely-widget-isolation .wdg-close:hover, #choicely-widget-modal-isolation .wdg-close:hover,
  #choicely-widget-isolation .wdg-close:focus, #choicely-widget-modal-isolation .wdg-close:focus {
    color: #fd6b6e !important;
}

#choicely-widget-isolation .wdg-video-wrapper:hover .wdg-video-controls, #choicely-widget-modal-isolation .wdg-video-wrapper:hover .wdg-video-controls {
  opacity: 1 !important;
  pointer-events: all !important;
}

#choicely-widget-isolation .wdg-video-player, #choicely-widget-modal-isolation .wdg-video-player {
  height: 100%
}

#choicely-widget-isolation .wdg-video-player video, #choicely-widget-modal-isolation .wdg-video-player video,
  #choicely-widget-isolation .wdg-video-player iframe, #choicely-widget-modal-isolation .wdg-video-player iframe {
  width: 100%;
  height: 100%;
}

#choicely-widget-isolation .wdg-video-button, #choicely-widget-modal-isolation .wdg-video-button {
  cursor: pointer
}

#choicely-widget-isolation .wdg-video-button:hover, #choicely-widget-modal-isolation .wdg-video-button:hover {
  background-color: #37d595 !important;
}

#choicely-widget-isolation .wdg-player-range:focus, #choicely-widget-modal-isolation .wdg-player-range:focus {
  outline: none;
}

#choicely-widget-isolation .wdg-player-range::-webkit-slider-runnable-track, #choicely-widget-modal-isolation .wdg-player-range::-webkit-slider-runnable-track {
  cursor: pointer;
  background: transparent;
}

#choicely-widget-isolation .wdg-player-range::-webkit-slider-thumb, #choicely-widget-modal-isolation .wdg-player-range::-webkit-slider-thumb {
  width: 18px;
  border: 1px solid rgba(0, 0, 0, .3);
  height: 18px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
  -webkit-appearance: none;
}

#choicely-widget-isolation .wdg-player-range::-moz-range-track, #choicely-widget-modal-isolation .wdg-player-range::-moz-range-track {
  cursor: pointer;
  background: transparent;
}

#choicely-widget-isolation .wdg-player-range::-moz-range-thumb, #choicely-widget-modal-isolation .wdg-player-range::-moz-range-thumb {
  width: 18px;
  border: 1px solid rgba(0, 0, 0, .3);
  height: 18px;
  cursor: pointer;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
}

#choicely-widget-isolation .wdg-player-range::-ms-track, #choicely-widget-modal-isolation .wdg-player-range::-ms-track {
  width: 100%;
  color: transparent;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 18px 0;
}

#choicely-widget-isolation .wdg-player-range::-ms-fill-lower, #choicely-widget-modal-isolation .wdg-player-range::-ms-fill-lower {
  border: 0 solid #000;
  background: transparent;
  border-radius: 4px;
}

#choicely-widget-isolation .wdg-player-range::-ms-fill-upper, #choicely-widget-modal-isolation .wdg-player-range::-ms-fill-upper {
  border: 0 solid #000;
  background: transparent;
  border-radius: 4px;
}

#choicely-widget-isolation .wdg-player-range::-ms-thumb, #choicely-widget-modal-isolation .wdg-player-range::-ms-thumb {
  width: 18px;
  border: 1px solid rgba(0, 0, 0, .3);
  height: 18px;
  cursor: pointer;
  display: block;
  background: #ffffff;
  border-radius: 50%;
}

#choicely-widget-isolation .wdg-player-range:focus::-ms-fill-lower, #choicely-widget-modal-isolation .wdg-player-range:focus::-ms-fill-lower {
  background: transparent;
}

#choicely-widget-isolation .wdg-player-range:focus::-ms-fill-upper, #choicely-widget-modal-isolation .wdg-player-range:focus::-ms-fill-upper {
  background: transparent;
}

#choicely-widget-isolation .wdg-player-progress::-webkit-progress-bar, #choicely-widget-modal-isolation .wdg-player-progress::-webkit-progress-bar {
  background: transparent;
}

#choicely-widget-isolation .wdg-player-progress::-webkit-progress-value, #choicely-widget-modal-isolation .wdg-player-progress::-webkit-progress-value {
  min-width: 8px;
  background: currentColor;
  border-radius: 4px;
}

#choicely-widget-isolation .wdg-player-progress::-moz-progress-bar, #choicely-widget-modal-isolation .wdg-player-progress::-moz-progress-bar {
  min-width: 8px;
  background: currentColor;
  border-radius: 4px;
}

#choicely-widget-isolation .wdg-player-progress::-ms-fill, #choicely-widget-modal-isolation .wdg-player-progress::-ms-fill {
  border-radius: 4px;
}

#choicely-widget-isolation .wdg-custom-scrollbar, #choicely-widget-modal-isolation .wdg-custom-scrollbar {
  overflow: auto;
}
@media (min-width: 1024px) {
  #choicely-widget-isolation .wdg-custom-scrollbar::-webkit-scrollbar-track, #choicely-widget-modal-isolation .wdg-custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  #choicely-widget-isolation .wdg-custom-scrollbar::-webkit-scrollbar, #choicely-widget-modal-isolation .wdg-custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }
  #choicely-widget-isolation .wdg-custom-scrollbar::-webkit-scrollbar-thumb, #choicely-widget-modal-isolation .wdg-custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 4px;
  }
}
.fp__overlay {
  z-index: 2147483647 !important;
}
#choicely-widget-isolation .wdg-opacity-hover, #choicely-widget-modal-isolation .wdg-opacity-hover {
  cursor: pointer
}
#choicely-widget-isolation .wdg-opacity-hover:hover, #choicely-widget-modal-isolation .wdg-opacity-hover:hover {
  opacity: 0.8 !important;
}
#choicely-widget-isolation .wdg-opacity-hover:active, #choicely-widget-modal-isolation .wdg-opacity-hover:active {
  opacity: 1 !important;
}
#choicely-widget-isolation .wdg-wdg-custom-scrollbar::-webkit-scrollbar, #choicely-widget-modal-isolation .wdg-wdg-custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
#choicely-widget-isolation .wdg-wdg-custom-scrollbar::-webkit-scrollbar-thumb, #choicely-widget-modal-isolation .wdg-wdg-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}
#choicely-widget-isolation .wdg-wdg-custom-scrollbar::-webkit-scrollbar-thumb:hover, #choicely-widget-modal-isolation .wdg-wdg-custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}
#choicely-widget-isolation .wdg-link, #choicely-widget-modal-isolation .wdg-link {
  text-decoration: underline;
  color: #37d595
}
#choicely-widget-isolation .wdg-link:hover, #choicely-widget-modal-isolation .wdg-link:hover,
  #choicely-widget-isolation .wdg-link:focus, #choicely-widget-modal-isolation .wdg-link:focus {
  text-decoration: none;
}
#choicely-widget-isolation .wdg-nested-link a, #choicely-widget-modal-isolation .wdg-nested-link a {
  text-decoration: underline;
  color: #37d595;
}
#choicely-widget-isolation .wdg-nested-link a:hover, #choicely-widget-modal-isolation .wdg-nested-link a:hover,
    #choicely-widget-isolation .wdg-nested-link a:focus, #choicely-widget-modal-isolation .wdg-nested-link a:focus {
  text-decoration: none;
}
#choicely-widget-isolation .wdg-progress-animation, #choicely-widget-modal-isolation .wdg-progress-animation {
  background-image: repeating-linear-gradient(
    -45deg,
    #c0c0c0,
    #c0c0c0 10px,
    #f2f2f2 10px,
    #f2f2f2 20px
  );
  background-size: 28px;
  -webkit-animation: move-background 1s linear infinite;
          animation: move-background 1s linear infinite;
}
@-webkit-keyframes move-background {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 28px;
  }
}
@keyframes move-background {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 28px;
  }
}
.choicely-widget-isolation button:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation button:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.choicely-widget-isolation,
.choicely-widget-modal-isolation {
  line-height: 1.2 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
  color: #000000 !important;
  position: relative;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.choicely-widget-isolation div:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation div:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation span:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation span:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation iframe:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation iframe:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation h1:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation h1:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation h2:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation h2:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation h3:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation h3:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation h4:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation h4:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation h5:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation h5:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation h6:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation h6:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation p:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation p:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation blockquote:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation blockquote:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation pre:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation pre:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation a:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation a:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation code:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation code:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation img:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation img:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation strong:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation strong:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation tt:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation tt:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation b:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation b:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation u:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation u:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation i:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation i:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation dl:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation dl:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation dt:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation dt:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation dd:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation dd:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation ol:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation ol:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation ul:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation ul:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation li:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation li:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation fieldset:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation fieldset:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation form:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation form:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation label:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation label:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation legend:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation legend:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation table:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation table:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation tbody:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation tbody:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation tfoot:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation tfoot:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation thead:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation thead:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation tr:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation tr:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation th:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation th:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation td:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation td:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation article:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation article:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation aside:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation aside:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation canvas:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation canvas:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation embed:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation embed:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation figure:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation figure:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation figcaption:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation figcaption:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation footer:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation footer:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation header:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation header:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation menu:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation menu:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation nav:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation nav:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation section:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation section:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation mark:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation mark:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation audio:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation audio:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation video:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation video:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]) {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
.choicely-widget-isolation article:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation article:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation aside:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation aside:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation figcaption:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation figcaption:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation figure:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation figure:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation footer:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation footer:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation header:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation header:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation menu:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation menu:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation nav:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation nav:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation section:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation section:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]) {
  display: block;
}
.choicely-widget-isolation body:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation body:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]) {
  line-height: 1.2;
}
.choicely-widget-isolation ol:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation ol:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation ul:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation ul:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]) {
  list-style: none;
}
.choicely-widget-isolation blockquote:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation blockquote:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation q:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation q:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]) {
  quotes: none;
}
.choicely-widget-isolation blockquote::before:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation blockquote::before:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation blockquote::after:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation blockquote::after:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation q::before:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation q::before:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]),
.choicely-widget-isolation q::after:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation q::after:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]) {
  content: '';
  content: none;
}
.choicely-widget-isolation table:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]), .choicely-widget-modal-isolation table:not([class^="fsp-"]):not([class^="fst-"]):not([class^="css-"]) {
  border-collapse: collapse;
  border-spacing: 0;
}


/*# sourceMappingURL=widget-11c2040e254c762c0deb.css.map*/